body { margin: 0; padding: 0;}

.top-nav{
    position: absolute;
    width: 100%;
    height: 20%;
    margin: 0 auto;
    padding: 0;
    background: #0d6efd;
    border-bottom: 8px solid black;
}

#commer{
    width: 277px;
    height: 27px;

    font-family: 'Helvetica', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;

    color: #fff;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
    top: 20%;
    left: 5%;
    width: 277px;
    height: 68px;
}

#station{
    width: 197px;
    height: 41px;

    font-family: 'Helvetica', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #fff;
}

.deposit{
    font-weight: 400;
    font-size: x-large;
    position: absolute;
    left: 20%;
    top: 38%;
}


.check_balance{
    position: absolute;
    left: 60%;
    top: 58%;
} 

.input-box{
    box-sizing: border-box;
    padding-left: 10px;
    width: 280px;
    height: 40px;

    border: 2px solid lightgrey;
    border-radius: 15px;

}