body { margin: 0; padding: 0; min-height: 100;}


.trade{
    width: 400px;
    text-align: left;
    display: inline-block;
    padding: 20px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
}

.input-box{
    padding-left: 10px;
    box-sizing: border-box;
    width: 280px;
    height: 40px;
    border: 2px solid lightgrey;
    border-radius: 15px;
}

.top-nav{
    position: absolute;
    width: 100%;
    height: 20%;
    margin: 0 auto;
    padding: 0;
    background: #0d6efd;
    border-bottom: 8px solid black;
}
.pay-show{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 10px 3px 20px;
    gap: 7px;

    position: fixed;
    top: 22%;
    left: 60%;
    width: 30%;
    height: 25%;
    border: 8px solid black;
    border-radius: 12%;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
    top: 20%;
    left: 5%;
    width: 277px;
    height: 68px;
}


.info{
    position: absolute;
    left: 52%;
    top: 50%;
}

#commer{
    width: 277px;
    height: 27px;

    font-family: 'Helvetica', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;

    color: #fff;
}

#station{
    width: 197px;
    height: 41px;

    font-family: 'Helvetica', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #fff;
}

#money{
    position: relative;
    width: 220px;
    height: 54px;
    left: 10%;
    top: 45%;

    font-family: 'Helvetica', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 16px;
    /* or 17% */

    color: #000000;

}

#money-symbol{
    position: relative;
    width: 90px;
    height: 127px;
    left: 15%;
    top: 45%;

    font-family: 'Helvetica', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 90px;
    line-height: 16px;
    /* or 18% */


    color: #000000;
}

#heads-up{
    position: relative;
    left: 20%;
    color: grey;

    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}

#submit_btn{
    position: relative;
    left: 86%;
}

.left_side{
    position: absolute;
    left: 6%;
    top: 30%;
}

.deposit{
    width: 400px;
    text-align: left;
    display: inline-block;
    padding: 20px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
}

#deposit_btn{
    position: absolute;
    left: 80%;
    top: 28%;
}

#balance_btn{
    position: absolute;
    width: 167px;
    left: 80%;
    top: 9%;
}


#look_balance{
    text-align: left;
    display: inline-block;
    padding-top: 80%;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 20px;
}